<ion-header>
  <ion-toolbar>
    <ion-title>disease</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card style="margin-top: 20px; margin-bottom: 20px;">
  	
    <ion-list>
  <ion-item>
    <ion-label class="pasp">Gynecology</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Menstrual issues</ion-label>
  </ion-item>
  <ion-item> 
    <ion-label>Periods issues</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Polycystic Ovary Syndrome(PCOS)</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Polycystic Ovarian Disease(PCOD)</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Menopause issues</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Thyroid issues</ion-label>
  </ion-item>
</ion-list>
</ion-card>

<ion-card style="margin-top: 20px; margin-bottom: 20px;">
 <ion-list>
  <ion-item>
    <ion-label class="pasp">Pregnancy Issues</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Pregnancy fitness</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Pregnancy nutrition</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Post-pregnancy fitness</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Weight reduction</ion-label>
  </ion-item>
</ion-list>
</ion-card>

<ion-card style="margin-top: 20px; margin-bottom: 20px;">
 <ion-list>
  <ion-item>
    <ion-label class="pasp">Infertility</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Infertility Diagnosis</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Infertility due to Overweight</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Infertility due to PCOS/PCOD</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Infertility due to Thyroid</ion-label>
  </ion-item>
  <ion-item>
  	<ion-label>Husband Low Sperm Count</ion-label>
 </ion-item>
</ion-list>
</ion-card>

<ion-card style="margin-top: 20px; margin-bottom: 20px;">
 <ion-list>
  <ion-item>
    <ion-label class="pasp">Weight management</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Lose weight</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Gain weight</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Exercise Advice</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Dieting and Nutrition</ion-label>
  </ion-item>
  <ion-item>
  	<ion-label>Yoga Advice</ion-label>
 </ion-item>
 <ion-item>
 	<ion-label>Diabetes weight management</ion-label>
 </ion-item>
 <ion-item>
 	<ion-label>Bp weight management</ion-label>
 </ion-item>
 <ion-item>
 	<ion-label>PCOS/PCOD/Thyroid weight management</ion-label>
</ion-item>
</ion-list>
</ion-card>


<ion-card style="margin-top: 20px; margin-bottom: 20px;">
 <ion-list>
  <ion-item>
    <ion-label class="pasp">Lactation Consultation</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Sore nipples</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Milk production</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Returning to Work, bottles, and storages</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>New Born- Feeding, weight gain</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>New Born- Teething, biting</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>New Born- Weaning, solid foods</ion-label>
  </ion-item>
</ion-list>
</ion-card>


<ion-card style="margin-top: 20px; margin-bottom: 20px;">
 <ion-list>
  <ion-item>
    <ion-label class="pasp">Pediatrics</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Cold and Flu</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Stomach upset</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Skin and diaper rashes</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Child growth tracking </ion-label>
  </ion-item>
  <ion-item>
  	<ion-label>Child nutrition</ion-label>
 </ion-item>
 <ion-item>
 	<ion-label>Weight gain</ion-label>
 </ion-item>
</ion-list>
</ion-card>


<ion-card style="margin-top: 20px; margin-bottom: 20px;">
 <ion-list>
  <ion-item>
    <ion-label class="pasp">Hair Scalp Care</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Hair Fall</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Dandruff issues</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Baldness issues</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Hair Care</ion-label>
  </ion-item>
</ion-list>
</ion-card>


<ion-card style="margin-top: 20px; margin-bottom: 20px;">
 <ion-list>
  <ion-item>
    <ion-label class="pasp">Dermatology</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Pimples</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Acne</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Skin diseases</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Rashes, Spots</ion-label>
  </ion-item>
</ion-list>
</ion-card>


<ion-card style="margin-top: 20px; margin-bottom: 20px;">
 <ion-list>
  <ion-item>
    <ion-label class="pasp">General medicine</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Fever and Common Cold</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Seasonal Flu and Cold</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Sore Throat</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Acidity & Abdominal pains</ion-label>
  </ion-item>
  <ion-item>
  	<ion-label>Allergies</ion-label>
 </ion-item>
</ion-list>
</ion-card>


<ion-card style="margin-top: 20px; margin-bottom: 20px;">
 <ion-list>
  <ion-item>
    <ion-label class="pasp">Psychology & Psychiatry</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Depression & Anxiety</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Stress and Anger management</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Personality & Habits</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Life Transactions</ion-label>
  </ion-item>
  <ion-item>
  	<ion-label>ADHD</ion-label>
 </ion-item>
 <ion-item>
 	<ion-label>Post Trauma</ion-label>
 </ion-item>
 <ion-item>
 	<ion-label>Abuse- Domestic, Drug, Sexual</ion-label>
 </ion-item>
</ion-list>
</ion-card>


<ion-card style="margin-top: 20px; margin-bottom: 20px;">
 <ion-list>
  <ion-item>
    <ion-label class="pasp">Sexology</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Premature Ejaculation</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Loss of Libido</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Lack of pleasure during sex</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>How to improve sex life</ion-label>
  </ion-item>
  <ion-item>
  	<ion-label>1st Time Sex knowledge</ion-label>
 </ion-item>
</ion-list>
</ion-card>
</ion-content>