<ion-header>
  <ion-toolbar>
    <ion-title>disease</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card style="margin-top: 20px; margin-bottom: 20px;">
	<ion-item>
  	<ion-avatar slot="start">
    <img src="">
  	</ion-avatar>
    <ion-label>Gynecology</ion-label>
    <ul>
  	<li>Menstrual Issues</li>
  	<li>Periods Issues</li>
  	<li>Polycystic Ovary Syndrome(PCOS)</li>
  	<li>Polycystic Ovarian Disease(PCOD)</li>
  	<li>Menopause Issues</li>
  	<li>Thyroid Issues</li>
	</ul>
    </ion-item>

    <ion-item>
  	<ion-avatar slot="start">
    <img src="">
  	</ion-avatar>
    <ion-label>Pregnancy Issues</ion-label>
    </ion-item>

    <ion-item>
  	<ion-avatar slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  	</ion-avatar>
    <ion-label>Infertility</ion-label>
    </ion-item>

    <ion-item>
  	<ion-avatar slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  	</ion-avatar>
    <ion-label>Weight Management</ion-label>
    </ion-item>

    <ion-item>
  	<ion-avatar slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  	</ion-avatar>
    <ion-label>Lactation Consultation</ion-label>
    </ion-item>

    <ion-item>
  	<ion-avatar slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  	</ion-avatar>
    <ion-label>Pediatrics</ion-label>
    </ion-item>

    <ion-item>
  	<ion-avatar slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  	</ion-avatar>
    <ion-label>Hair Scalp Care</ion-label>
    </ion-item>

    <ion-item>
  	<ion-avatar slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  	</ion-avatar>
    <ion-label>Dermatology</ion-label>
    </ion-item>

    <ion-item>
  	<ion-avatar slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  	</ion-avatar>
    <ion-label>General Medicine</ion-label>
    </ion-item>

    <ion-item>
  	<ion-avatar slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  	</ion-avatar>
    <ion-label>Psychology & Psychiatry</ion-label>
    </ion-item>

    <ion-item>
  	<ion-avatar slot="start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  	</ion-avatar>
    <ion-label>Sexology</ion-label>
    </ion-item>
	</ion-card>
</ion-content>
