.logindetails {
    margin-top: 20%;
}

.loginbtn {
    margin-top: 10%;
}

.logbtn {
    background-color: blue;
    width: 20%;
}

.logo {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}