.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.ict{
	text-align: center;
	font-size: 20px;
	margin-top: 30px;
}
.docimg{
	height: 15vh !important;
	width: auto !important;
	align-items: center;
	
}
.pm{
	margin-top: 20px;
	text-align: center;
	margin-bottom: 20px;
}