<ion-header>
  		<ion-toolbar>
  			<ion-title>Profile</ion-title>
      	</ion-toolbar>
 </ion-header>
 <ion-content>
	<ion-card-content>
   		<ion-card>
   		    <ul><b>Name: Parth </b></ul>
   			<ul><b>Age: 20 Years</b></ul> 
   			<ul><b>Email: waghmareparth11@gmail.com</b></ul>
   			<ul><b>P.no:123456</b></ul>
   			<ul><b>Address: N.L.1-B, 10/11, Nerul</b></ul>
   		<ion-button style="padding-right: 50px; padding-left: 50px; margin-top: 20px; margin-bottom: 20px;" expand="block">Medical Info</ion-button>
   		</ion-card>
	</ion-card-content>	
	<ion-card-content>
		<ion-card>
   		    <ul><b>Weight: 65kg</b></ul>
   		    <ul><b>Height:</b></ul>
   		    <ul><b>Disease:</b></ul>
   		    <ul><b>Suger Level:</b></ul>
   		    <ul><b>Blood pressure:</b></ul>
		</ion-card>	
	</ion-card-content>	
</ion-content>